<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="http://jfreeview.googlecode.com/svn/trunk/site/jnlp" href="$outputFile">
 <information>
    <title>JFreeView Database Schema Graph Example</title>
    <vendor>JFreeView Team</vendor>
    <homepage href="http://code.google.com/p/jfreeview"/>
    <description kind="one-line">JFreeView Database Schema Graph Example</description>
    <description kind="short">JFreeView Database Schema Graph Example - desktop application for generating a graph from a SQL database schema</description>
    <description kind="tooltip">JFreeView Database Schema Graph Example - desktop application for generating a graph from a SQL database schema</description>
    <icon href="config/bluebrim-logo-liten.png" kind="default"/>
    <shortcut online="false"><desktop/><menu submenu="JFreeView Database Schema Graph Example"/></shortcut>
 </information>
 <security>
 <all-permissions/>
 </security>
 <resources>
    <j2se version="1.6+" initial-heap-size="32m" max-heap-size="128m" />
    <property name="jnlp.versionEnabled" value="true"/>
    <property name="jnlp.packEnabled" value="true"/>   
    $dependencies
 </resources>
 <application-desc main-class="$mainClass">
 </application-desc>
</jnlp>